header{

    height: 100vh;
    overflow: hidden;
}

.header__container{

    padding-top: 30vh;
    padding-left: 8rem;
    text-align: left;
    height: 100%;
    position: relative;
    background-image:
                linear-gradient(45deg,
                    rgba(8, 83, 156, 0.75),
                    rgba(245, 70, 66, 0.75));
    background-position: center;
    background-size: contain, cover;
}

/* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {

    header{

        height: 100vh;
    }

    .header__container{
        text-align: center;
        padding: 7rem 0 0;
    }
}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {

    header{

        height: 100vh;
    }

    .header__socials, .scroll__down{

        display: none;
    }
}