@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* defining some css variables */

:root{

    --color-bg: #0c0c5f;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255,  255, 255, 0.6);
    --container-width-xl: 95%;
    --container-width-lg: 100%;
    --container-width-md: 100%;
    --container-width-sm: 100%;

    --transition: all 400ms ease;
}

html{

    scroll-behavior: smooth;
}

/* removing the scrollbar */

::-webkit-scrollbar{

    display: none;
}

body{

    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(./assets/black-thread-light.png);
}

/* General Styles */

.container{

    width: var(--container-width-lg);
    max-width: 95vw;
    margin-top: 0;
    margin-bottom: 0;  /*position in the middle horizontally */
}

/* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {
    .container{
        max-width: 100vw;
    }
}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {
    .container{
        max-width: 100vw;
    }
}